<%# app/views/admin/motivational_phrases/new.html.erb %>
<h1>Nueva Frase Motivacional</h1>

<%= render 'form', motivational_phrase: @motivational_phrase %>

<br>
<%= link_to 'Volver a la lista', admin_motivational_phrases_path %>